.form {
  margin-top: 3rem;

  .form__group {
    margin-bottom: 1rem;
    label {
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
      opacity: .6;
    }
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 5px;
    font: inherit;
    margin-top: .5rem;
    margin-bottom: .8rem;

    &--area {
      margin-bottom: .5rem;
    }
  }

  &__flex {
    display: flex;
    & > * {
      flex: 1;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__add-item-btn {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    padding: 1rem 1.4rem;
    margin-top: 2rem;
    background-color: var(--color-primary-1);
    color: white;
    border-radius: 2px;
    img { margin-right: 1rem; }
  }
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.item {
  width: calc((100% / 2) - 2rem + (2rem / 2));
  padding: 3rem;
  background-color: #111;
  color: white;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-radius: 3px;

  &:nth-child(even) {
    margin-right: 0;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    label {
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
      flex: 1;
      opacity: .6;
    }
  }

  &__input {
    border: none;
    outline: none;
    padding: 1rem;
    font: inherit;
    flex: 1;
    width: 100%;
    background-color: #222;
    color: white;
  }
}