<div class="page orders">
  <div class="page__content">
    <div class="page__header">
      <div>
        <h2>Workspace Summary.</h2>
        <h6 class="page__date">{{currentDate | date}} &mdash; 15 Entries</h6>
      </div>
      <button>
        <img src="assets/svg/_ionicons_svg_ios-close-circle-outline.svg" alt="close">
      </button>
    </div>

    <!--upcoming tasks list-->
    <div class="orders__section orders__section--1">
      <h3>Upcoming</h3>
      <ul class="orders__tasks">
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Fixing icons with transparent backgrounds regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Discussion regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Just a random task</p>
        </li>
      </ul>
    </div>

    <!--all tasks list-->
    <div class="orders__section orders__section--2">
      <h3>All Tasks</h3>
      <ul class="orders__tasks">
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Modify quotation for app redesign project</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Discussion regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Just a random task</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Discussion regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Just a random task</p>
        </li>
      </ul>
    </div>

  </div>
</div>