<div class="page orders">
  <div class="page__header">
    <div>
      <h2>ACCEPTED ORDERS</h2>
      <h6 class="page__date">{{currentDate | date}} &mdash; {{(orders$ | async)?.length}} Entries</h6>
    </div>
    <button (click)="ui.deactivateAll()">
      <img src="assets/svg/_ionicons_svg_ios-close-circle-outline.svg" alt="close">
    </button>
  </div>

  <!--upcoming tasks list-->
  <div class="orders__section orders__section--1">
    <h3>Today</h3>
    <ul class="orders__tasks">
      <li class="orders__task" *ngFor="let order of upcomingOrders$ | async">
        <button class="orders__status-btn" (click)="onOrderStatusButtonClicked(order.id, order.finished)">
          <img *ngIf="order.finished" src="assets/svg/bx-check-circle.svg" alt="check">
          <img *ngIf="!order.finished" src="assets/svg/bx-circle.svg" alt="uncheck">
        </button>
        <div class="orders__task-info">
          <p>{{order.description}}</p>
          <div class="orders__tags">{{order.returnDate}} by {{order.customerName}}</div>
        </div>
        <button class="orders__action-btn">Explore</button>
        <button class="orders__action-btn">Checkout RS <strong>{{order.amount.totalAmount}}</strong></button>
      </li>
    </ul>
  </div>

  <!--all tasks list-->
  <div class="orders__section orders__section--2">
    <h3>All Tasks</h3>
    <ul class="orders__tasks">
      <li class="orders__task" *ngFor="let order of orders$ | async">
        <button class="orders__status-btn" (click)="onOrderStatusButtonClicked(order.id, order.finished)">
          <img *ngIf="order.finished" src="assets/svg/bx-check-circle.svg" alt="check">
          <img *ngIf="!order.finished" src="assets/svg/bx-circle.svg" alt="uncheck">
        </button>
        <div class="orders__task-info">
          <p>{{order.description}}</p>
          <div class="orders__tags">{{order.returnDate}} by {{order.customerName}}</div>
        </div>
        <button class="orders__action-btn">Explore</button>
        <button class="orders__action-btn">Checkout RS <strong>{{order.amount.totalAmount}}</strong></button>
      </li>
    </ul>
  </div>

  <button class="orders__add-btn" (click)="onCreateOrderClicked()">
    <img src="assets/svg/bx-plus.svg" alt="plus">
  </button>
</div>