.ais-SearchBox-input {
  border: none;
  outline: none;
  font: inherit;
  background-color: #3C3F54;
  padding: 1.8rem 2rem;
  width: 102%;
  transform: translateX(-1%);
  border-radius: .6rem;
  color: white;
  font-weight: 300;
  margin-top: 3rem;

  &::-webkit-input-placeholder {
    color: white;
    opacity: .5;
  }
}

.ais-SearchBox-submit {
  display: none;
}

.ais-Highlight {
  color: var(--foreground-color-3);
}

.ais-Highlight-highlighted {
  color: var(--primary-color-1);
}

.ais-SearchBox-reset {
  display: none;
}