// application page
.page {
  &__content {
    margin: 2rem;
    width: 80vw;
    max-width: 100rem;
    height: calc(100vh - 4rem);
    background-color: white;
    color: black;
    border-radius: 1rem;
    padding: 4rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      width: 2.4rem;
      height: 2.4rem;
      transform: translateY(3px);
      cursor: pointer;
    }

    img { width: 100%; }
  }

  &__date {
    color: var(--color-primary-1);
    margin-top: .5rem;
  }
}