<div class="slide orders" [class.slide--active]="ui.ordersSlideActive">
  <div class="slide__content">
    <div class="slide__header">
      <div>
        <h2>Tasks + Projects</h2>
        <h5 class="slide__date">23 Nov 2019 &mdash; 11 Entries</h5>
      </div>
      <button>
        <img src="assets/svg/_ionicons_svg_ios-close-circle-outline.svg" alt="close">
      </button>
    </div>

    <!--upcoming tasks list-->
    <div class="orders__section orders__section--1">
      <h3>Upcoming</h3>
      <ul class="orders__tasks">
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Discussion regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Just a random task</p>
        </li>
      </ul>
    </div>

    <!--all tasks list-->
    <div class="orders__section orders__section--2">
      <h3>All Tasks</h3>
      <ul class="orders__tasks">
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Modify quotation for app redesign project</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Discussion regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Just a random task</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Upload initial layout for the home page</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Fixing icons with transparent backgrounds</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-circle.svg" alt="uncheck">
          <p>Discussion regarding workflow improvement</p>
        </li>
        <li class="orders__task">
          <img src="assets/svg/bx-check-circle.svg" alt="check">
          <p>Just a random task</p>
        </li>
      </ul>
    </div>

  </div>
</div>