<div class="navigator">
  <div class="navigator__content">
    <h1 class="navigator__title"><span>Hi</span> {{username}}</h1>
    <p class="navigator__subtitle">Welcome back to the workspace. We missed You!</p>
    <input class="navigator__search" type="text" placeholder="Search task or project...">
    <h3 class="navigator__seperator">Navigation (3)</h3>
    <div class="navigator__items">
      <button class="navigator__item navigator__item--1" (click)="onTasksClicked()">
        <img class="navigator__item-icon" src="assets/svg/_ionicons_svg_ios-cart.svg" alt="">
        <p class="navigator__item-text">Tasks</p>
      </button>
      <button class="navigator__item navigator__item--2" (click)="onNewClicked()">
        <img class="navigator__item-icon" src="assets/svg/_ionicons_svg_ios-add-circle-outline.svg" alt="">
        <p class="navigator__item-text">New</p>
      </button>
      <button class="navigator__item navigator__item--3" (click)="onFinanceClicked()">
        <img class="navigator__item-icon" src="assets/svg/_ionicons_svg_ios-card.svg" alt="">
        <p class="navigator__item-text">Finance</p>
      </button>
    </div>
  </div>
</div>