* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sofia Pro', sans-serif;
  font-size: 1.6rem;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}