@import 'theme/variables';
@import 'theme/shared';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-1);
  font-size: 1.6rem;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}